<div>
    <img class="imagen_previa" src="<%= @user.id && current_page?(edit_user_path(@user.id)) ? @user.image : '' %>" />
</div>


<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <div class="field">
      <% if current_page?(new_user_path)  %>
        <%= f.label :email %><br>
        <%= f.text_field :email %>
      <% end  %>
    </div>
    <div class="field">
      <%= f.label :image %><br>
      <%= f.text_area :image, cols: "200", rows: "10" %>
      <input type="file" id="subir_imagen">
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  </fieldset>
<% end %>
